body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* function section */
.section {
  margin: 0 40%;
}

/* img and video */

img {
  width: 10em;
  display: inline-block;
  margin: 2em;
}

video {
  width: '300';
  height: '200';
  border: 1px solid gray;
  display: inline-block;
  margin: 2em;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1em;
  background: #69aa67;
  text-align: center;
  margin: 1em;
}
